* {
    box-sizing: border-box;
}
:root {
    --primary-color: #ff5b2e;
    --heading-font: "Sora", sans-serif;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
    color: #000958;
}

a {
    text-decoration: none;
}
input textarea select button {
    font-family: inherit;
    font-size: inherit;
}
.container {
    width: 1169px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
/* Common */
.btn {
    --height: 56px;
    display: inline-flex;
    justify-content: center;
    min-width: 130px;
    line-height: var(--height);
    border-radius: 999px;
    border: 1px solid rgba(0, 9, 88, 0.7);
    font-size: 1.4rem;
    font-weight: 600;
    color: #000958;
}
.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}
.btn--primary {
    background: var(--primary-color) !important;
    border: var(--primary-color) !important;
    color: #fff !important;
}
.btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background: #fffaf5;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
    border-radius: 50%;
    color: #ff5b2e;
}
.section-heading {
    color: #000958;
    font-family: var(--heading-font);
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.2; /* 119.231% */
}
.section-desc {
    margin-top: 24px;
    color: #656689;
    font-size: 1.6rem;
    line-height: 1.87; /* 187.5% */
}
.item-desc {
    color: #656689;
    font-size: 1.4rem;
    line-height: 1.71; /* 171.429% */
}
/* header */
.header {
    padding: 26px 0;
    background: #fffaf5;
}
.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar__list {
    display: flex;
}

.navbar__link,
.header-action__link {
    padding: 8px 18px;
    color: #5e6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}
.navbar__link:hover {
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}
.header-action__btn {
    --height: 50px;
    min-width: 118px;
}
/* hero */
.hero {
    margin-top: 74px;
}
.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .hero__media {
    max-width: 47%;
} */
.hero__media {
    display: flex;
    position: relative;
    padding-bottom: 94px;
}
.hero__img-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    border-radius: 16px;
    background: #fe997b;
    border: 3px solid #fff;
    width: 388px;
    height: 488px;
}
.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}
.hero__decor {
    position: absolute;
    z-index: -1;
}
.hero__decor-left {
    left: -58px;
    bottom: 9px;
}
.hero__decor-right {
    top: 16px;
    right: -43px;
}
.hero__img-small {
    width: 186px;
    height: 244px;
    align-self: flex-end;
    margin-left: -24px;
    background: #faa7ad;
    margin-bottom: -58px;
    border: 2px solid #fbdcdf;
}
.hero__list {
    position: absolute;
    bottom: 0;
    left: 129px;
    width: 250px;
    height: 156px;
    border-radius: 10px;
    padding: 18px 14px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}
.hero-list-item {
    display: flex;
    align-items: center;
}
.hero-list-item-second {
    margin-top: 40px;
    position: relative;
}
.hero-list-item-second::before {
    content: "";
    display: block;
    position: absolute;
    top: -20px;
    width: 100%;
    border-radius: 99px;
    height: 2px;
    background: #f2f2f2;
}
.hero-list-item__thumb {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
    background: #fec23f;
}
.hero-list-item__thumb-second {
    background: #6597c2;
}
.hero-list-item__info {
    margin-left: 10px;
}
.hero-list-item__title {
    font-family: var(--heading-font);
    color: #181e52;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.hero-list-item__skeleton {
    margin-top: 6px;
    width: 118px;
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: #000958;
}
.hero-list-item__skeleton-short {
    width: 39px;
    height: 4px;
}
.hero__content {
    max-width: 44%;
}
.hero__heading {
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15; /* 115.152% */
}
.hero__desc {
    width: 391px;
    margin: 24px 0 38px;
    color: #656689;
    font-size: 1.6rem;
    line-height: 1.87; /* 187.5% */
}
.hero__link {
    display: flex;
    align-items: center;
}
.hero__cta-btn {
    --height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
    min-width: 189px;
    font-size: 1.6rem;
}

.hero__cta-link {
    margin-left: 24px;
    color: #000958;
    text-decoration: underline;
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
}
/* About */
.about__inner:not(.about__content.about__content-wrap) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    row-gap: 146px;
}

.about {
    margin-top: 77px;
    padding: 53px 0;
}
.about__heading {
    margin-top: 15px;
}
.about__label {
    font-family: var(--heading-font);
    color: #5e6085;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.about__checked-list {
    margin-top: 54px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 35px;
}
.about__checked-item {
    position: relative;
    display: flex;
    align-items: center;

    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    white-space: nowrap;
    line-height: 1; /* 100% */
}
.about__desc,
.about__heading {
    width: 431px;
}
.about__checked-item::before,
.about__checked-item::after {
    content: "";
    display: inline-block;
}
.about__checked-item::before {
    width: 24px;
    height: 24px;
    background: #ff5d31;
    border-radius: 4px;
    margin-right: 10px;
}
.about__checked-item::after {
    position: absolute;
    top: 5px;
    left: 6px;
    width: 10px;
    height: 6px;
    background: transparent;
    border-left: #fff2e5 2px solid;
    border-bottom: #fff2e5 2px solid;
    rotate: -45deg;
    /* background: #fff2e5; */
}
.about__media {
    position: relative;
    display: flex;
    align-items: flex-end;
}
.about__image {
    position: relative;
    display: flex;
    margin-left: auto;
    justify-content: center;
    align-items: flex-end;
    width: 494px;
    /* border-radius: 16px;
    background: #fcdbea; */
}
.about__image::after {
    content: "";
    z-index: -1;
    inset: auto 0 0 0;
    position: absolute;
    height: 336px;
    width: 494px;
    border-radius: 16px;
    background: #fcdbea;
}
.about__img {
    width: 450px;
}

.about__intro {
    position: absolute;
    top: 165px;
    left: 0x;
    width: 136px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0 rgba(85, 240, 255, 0.17);
    padding: 30px 26px;
    text-align: center;
}
.about__age {
    color: #fff;
    font-family: var(--heading-font);
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1; /* 100% */
}
.about__year {
    margin-top: 14px;
    color: #c6f4f9;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.43; /* 142.857% */
}
.about__icon {
    position: absolute;
    top: -39px;
    right: -32px;
}
.about__decor {
    z-index: -1;
    position: absolute;
    top: 157px;
    right: -50px;
}
.about__img-wrap {
    position: relative;
    width: 458px;
}
.about__img-sevrvice {
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0 17px 77px -8px rgba(190, 165, 139, 0.17);
}
.about__img-decor {
    position: absolute;
}
.about__img-decor1 {
    top: -15px;
    right: 9px;
}
.about__img-decor2 {
    top: 33px;
    right: -25px;
}
.about__img-decor3 {
    top: 268px;
    right: -35px;
}
.about__img-decor4 {
    bottom: 150px;
    right: 19px;
}
.about__img-decor5 {
    bottom: -55px;
    right: -48px;
}
.about__img-decor6 {
    top: 13px;
    right: 60px;
}
.about__wrap-desc {
    width: 511px;
    margin-bottom: 50px;
}
.tab__list {
    position: relative;

    display: inline-flex;
    column-gap: 56px;
}

.tab__item-active::after,
.tab__list::before {
    position: absolute;
    content: "";
    right: 0;
    left: 0;
    bottom: 0;
    height: 2px;
    border-radius: 1px;
    background: #ff5b2e;
}
.tab__list::before {
    width: 100%;
    opacity: 0.07;
}
.tab__item-active::after {
    width: 95px;
}

.tab__item {
    position: relative;
    cursor: pointer;
    padding-bottom: 14px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.tab__item:nth-of-type(1) .tab__img {
    position: relative;
    top: 1px;
    background: transparent;
}
.tab__item:nth-of-type(2) .tab__img {
    position: relative;
    top: 5px;
    background: transparent;
}

.tab__label {
    white-space: nowrap;
    color: #48496a;
    font-family: var(--heading-font);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.tab__item:nth-of-type(1) .tab__label {
    margin-left: -8px;
}
.tab__desc {
    padding-top: 36px;
    width: 391px;
}
.tab__link {
    position: relative;
    display: block;
    padding-top: 32px;
    color: #ff5d31;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1; /* 100% */
}
.tab__content {
    display: none;
}
.tab__content--active {
    display: block;
}
.tab__link::before {
    position: absolute;
    bottom: -5px;
    left: 0;
    content: "";
    width: 86px;
    height: 1.5px;
    background: #ff5d31;
    border-radius: 1px;
}
/* Service */
.service {
    margin-top: 130px;
    background: #fff6ed;
    padding: 70px 0 100px;
    z-index: -1;
}
.service__top {
    text-align: center;
}
.service__desc {
    color: #5e6085;
    font-family: var(--heading-font);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1; /* 100% */
    margin-bottom: 15px;
}
.service__body {
    margin-top: 70px;
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.service-item {
    padding: 30px 22px 30px 28px;

    width: 294px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
}
.service-item + .service-item {
    margin-top: 24px;
}
.service-item__heading {
    position: relative;
    color: #000958;
    font-family: var(--heading-font);
    padding-left: 12px;
    font-size: 2.2rem;
    font-weight: 600;
    white-space: nowrap;
    line-height: 1; /* 100% */
}
.service-item__heading::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    border-radius: 1px;
    width: 2px;
    height: 22px;
    background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
}
.service-item__desc {
    margin-top: 18px;
}
.service-item__link {
    display: inline-flex;
    align-items: center;
    margin-top: 24px;
    color: #34396a;
    font-family: var(--heading-font);
    font-size: 1.2rem;
    line-height: 1; /* 100% */
}
.service-item__icon {
    margin-left: 6px;
}
.service__img {
    width: 447px;
    height: 621px;
    z-index: 1;
}
.service__media {
    margin-top: 17px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.service__media::after {
    content: "";
    margin: 0 auto;
    position: absolute;
    inset: auto 0 0 0;
    width: 410px;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}
.service__btn {
    margin-top: 45px;
    min-width: 214px;
    color: #ff5b2e;
    border-color: #ff5b2e;
    margin-left: 50%;
    translate: -50% 0;
}
/* Staff */
.staff {
    padding: 130px 0;
}
.staff__desc {
    color: #5e6085;
    text-align: center;
    font-family: var(--heading-font);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.staff__heading {
    margin-top: 15px;
    text-align: center;
}
.staff__list {
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 35px;
}
.staff-item {
    text-align: center;
}
.staff-item__img {
    position: relative;
    display: block;
    width: 100%;
    border-radius: 130px;
    z-index: 1;
}
.staff-item__img-wrap {
    position: relative;
    margin: 0 16px;
}
.staff-item__img-wrap::after {
    position: absolute;
    top: 0;
    content: "";
    background-repeat: no-repeat;
    background-position: bottom;

    width: calc(100% + 36px);
    height: 100%;
    transform: translateX(-50%);
    left: 50%;
    background-size: 100%;
}
.staff-item:nth-child(1) .staff-item__img-wrap::after {
    background-image: url(../img/staff-decor01.svg);
}
.staff-item:nth-child(2) .staff-item__img-wrap::after {
    background-image: url(../img/staff-decor02.svg);
}
.staff-item:nth-child(3) .staff-item__img-wrap::after {
    background-image: url(../img/staff-decor03.svg);
}
.staff-item:nth-child(4) .staff-item__img-wrap::after {
    background-image: url(../img/staff-decor04.svg);
}
.staff-item:nth-child(even) .staff-item__img-wrap::after {
    background-position: 0 16px;
}
.staff-item__img-wrap::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 94%;
    border-radius: 130px;
    inset: auto 0 0 0;
}
.staff-item:nth-child(1) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}
.staff-item:nth-child(2) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}
.staff-item:nth-child(3) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}
.staff-item:nth-child(4) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}
.staff-item__title {
    margin-top: 34px;
    color: #656689;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1; /* 100% */
}
.staff-item__name {
    margin-top: 14px;
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.staff__cta-wrap {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}
.staff__btn {
    min-width: 193px;
    border-radius: 31px;
    border: 1px solid #ff5b2e;
    color: #ff5b2e;
    font-size: 1.6rem;
    font-weight: 500;
}
/* Pricing */
.pricing {
    padding: 86px 0;
    background: #fff6ed;
}
.pricing__heading {
    text-align: center;
}
.pricing__desc {
    width: 709px;
    text-align: center;
    margin: 24px auto 0;
}
.pricing__switch-wrap {
    margin-top: 38px;
    display: flex;
    justify-content: center;
}
.pricing__inner {
    position: relative;
}
.pricing__switch-label {
    display: inline-flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    min-width: 276px;
    border-radius: 99px;
    padding: 0 40px;
    border: 1px solid #ff5b2e99;
    user-select: none; /* nguoi dung khong boi den */
}
.pricing__switch-label::before {
    content: "";
    position: absolute;
    inset: 0 auto 0 0;
    width: 138px;
    border-radius: inherit;
    background: #ff5b2e;
}
.pricing__switch-value {
    color: #fff;
    font-size: 1.6rem;
    z-index: 1;
    font-weight: 500;
    line-height: 1;
}
.pricing__switch-input:checked + .pricing__switch-label::before {
    left: auto;
    width: 131px;
    right: 0;
}
.pricing__switch-input:not(:checked) + .pricing__switch-label .pricing__switch-value:nth-of-type(2) {
    color: #ff5b2e;
}
.pricing__switch-input:checked + .pricing__switch-label .pricing__switch-value:nth-of-type(1) {
    color: #ff5b2e;
}
.pricing__decor {
    position: absolute;
    top: -10px;
    right: -110px;
}
.pricing__list {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    column-gap: 44px;
}
.pricing-item {
    min-width: 302px;
    padding: 30px 28px;
    border-radius: 20px;
    background: #fff;
}
.pricing-item__type {
    color: #ff5b2e;
    font-size: 1.2rem;
    line-height: 1; /* 100% */
}
.pricing-item__heading {
    margin-top: 8px;
    color: #3f4065;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}
.pricing-item__price {
    margin: 24px 0;
    color: #000958;
    font-family: var(--heading-font);
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 1.03; /* 103.03% */
}
.pricing-item__btn {
    --height: 44px;
    width: 100%;
    border: 1px solid rgba(255, 91, 46, 0.6);
    color: #ff5b2e;
    font-size: 1.6rem;
    font-weight: 500;
}
.pricing-item__list {
    margin-top: 24px;
}
.pricing-item__item {
    position: relative;
    padding-left: 26px;
    display: flex;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1; /* 100% */
}
.pricing-item__item::before {
    position: absolute;
    content: "";
    display: inline-flex;
    top: 2px;
    left: 3px;
    width: 9px;
    height: 5px;
    background: transparent;
    border-left: 1px solid #ff5b2e;
    border-bottom: 1px solid #ff5b2e;
    rotate: -45deg;
}
.pricing-item__item + .pricing-item__item {
    margin-top: 18px;
}
